:root {
     --primary-blue: #3b82f6;
     --secondary-blue: #2162ec;
     --main-text: #000000;
     --secondary-text: #ffffff;
     --background: #f2f4f5;
     --secondary-background: #ffffff;
}

body, html {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background);
}

.flex {
    display: flex;
}

.flex-hcenter {
    justify-content: center;
}

.flex-vcenter {
    align-items: center;
}

.flex-hstart {
    justify-content: start;
}

.flex-sbetween {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

aside {
    background-color: var(--primary-blue);
    color: var(--secondary-text);
    width: 17vw;
    height: 100vh;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    min-width: fit-content;
}

ul {
    list-style-type: none;
    margin-top: 20%;
    padding-left: 10%;
    min-height: auto;
    height: 20vh;
}

li {
    width: 100%;
}

main > div {
    width: 100%;
}

h1 + div {
    background-color: var(--secondary-background);
    height: 10%;
    margin-left: 1%;
    width: 90%;
}

button {
    background-color: var(--secondary-blue);
    color: var(--secondary-text);
    border: 0;
    border-radius: 5%;
    padding: 1%;
    height: 5vh;
}

.small_button {
    width: 5vw;
}



